
:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Images/Headers/background.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}

.rankGain {
    color: #green;
}

.rankDrop {
    color: #red;
}

.rankSame {
    color: #222;
}
    
#rankings-table {
    padding: 20px;
    width: 100%;
}

.rankings-slot {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(15, 6.6%);
    grid-template-rows: 60px 40px;
    place-items: center;
    place-content: center;
    background: rgba(225,225,225,0.4);
    border-radius: 1rem;
    
}

.rank {
    grid-area: 1 / 1 / 3 / 2;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bolder;
    color: #222;
}

.rank-gain {
    grid-area: 1 / 2 / 3 / 3;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bolder;
    width: 100%;
}

.team-logo {
    grid-area: 1 / 3 / 3 / 5;
    place-self: center;
    justify-self: center;
    object-fit: fill;
}

.team-name {
    grid-area: 1 / 5 / 2 / 11;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bolder;
    color: #222;
}

.team-record {
    grid-area: 1 / 11 / 2 / 14;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bold;
    color: #222;
}

.team-score {
    grid-area: 1 / 14 / 2 / 15;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    color: #222;
}

.team-bestplayer {
    grid-area: 2 / 5 / 3 / 9;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}

.team-lastweek {
    grid-area: 2 / 9 / 3 / 14;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}

.team-streak {
    grid-area: 2 / 14 / 3 / 15;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}
    
@media all and (max-device-width: 600px) {
    #rankings-table { padding: 5px; }
    .rankings-slot { grid-template-rows: 70px 45px; }
    .rank { font-size: 1.2em; }
    .rank-gain { font-size: 1.1em; }
    .team-name { font-size: 1.6em; }
    .team-record { font-size: 1.3em; }
    .team-score { font-size: 1.1em; }
    .team-bestplayer { font-size: 0.75em; }
    .team-lastweek { font-size: 0.75em; }
    .team-streak { font-size: 0.85em; }   
    .team-logo img { height: 60px; width:60px; } 
}
    
@media all and (min-device-width: 600px) and (max-device-width: 800px) {
    #rankings-table { padding: 10px; }
    .rankings-slot { grid-template-rows: 70px 45px; }
    .rank { font-size: 1.4em; }
    .rank-gain { font-size: 1.25em; }
    .team-name { font-size: 1.75em; }
    .team-record { font-size: 1em; }
    .team-score { font-size: 1.25em; }
    .team-bestplayer { font-size: 0.9em; }
    .team-lastweek { font-size: 0.9em; }
    .team-streak { font-size: 1em; }   
    .team-logo img { height: 80px; width:80px; } 
}
    
@media all and (min-device-width: 800px) and (max-device-width: 1000px) {
    #rankings-table { padding: 15px; }
    .rankings-slot { grid-template-rows: 65px 40px; }
    .rank { font-size: 1.55em; }
    .rank-gain { font-size: 1.45em; }
    .team-name { font-size: 1.4em; }
    .team-record { font-size: 1.6em; }
    .team-score { font-size: 1.4em; }
    .team-bestplayer { font-size: 1.1em; }
    .team-lastweek { font-size: 1.1em; }
    .team-streak { font-size: 1.3em; }   
    .team-logo img { height: 100px; width:100px; } 
}
    
@media all and (min-device-width: 1000px) and (max-device-width: 1200px) {
    #rankings-table { padding: 20px; }
    .rankings-slot { grid-template-rows: 60px 40px; }
    .rank { font-size: 1.65em; }
    .rank-gain { font-size: 1.5em; }
    .team-name { font-size: 2.1em; }
    .team-record { font-size: 1.75em; }
    .team-score { font-size: 1.55em; }
    .team-bestplayer { font-size: 1.25em; }
    .team-lastweek { font-size: 1.25em; }
    .team-streak { font-size: 1.4em; }   
    .team-logo img { height: 100px; width:100px; } 
}
    
@media all and (min-device-width: 1200px) {
    #rankings-table { max-width: 1200px; padding: 20px; margin: auto; }
    .rankings-slot { grid-template-rows: 60px 40px; }
    .rank { font-size: 1.7em; }
    .rank-gain { font-size: 1.6em; }
    .team-name { font-size: 2.2em; }
    .team-record { font-size: 1.8em; }
    .team-score { font-size: 1.65em; }
    .team-bestplayer { font-size: 1.3em; }
    .team-lastweek { font-size: 1.3em; }
    .team-streak { font-size: 1.4em; }   
    .team-logo img { height: 100px; width:100px; } 
}
