
:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Images/Headers/background.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}

.rankGain {
    color: #green;
}

.rankDrop {
    color: #red;
}

.rankSame {
    color: #222;
}
    
#rankings-table {
    padding: 20px;
    width: 100%;
}

.rankings-slot {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    display: grid;
    grid-gap: 2px;
    grid-auto-flow: row;
    grid-template-columns: repeat(15, minmax(25px, 66px));
    grid-template-rows: 60px 40px;
    place-items: center;
    place-content: center;
    background: rgba(225,225,225,0.4);
    border-radius: 1rem;
    
}

.rank {
    grid-area: 1 / 1 / 3 / 2;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bolder;
    color: #222;
}

.rank-gain {
    grid-area: 1 / 2 / 3 / 3;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bolder;
    width: 100%;
}

.team-logo {
    grid-area: 1 / 3 / 3 / 5;
    place-self: center;

}

.team-name {
    grid-area: 1 / 5 / 2 / 11;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bolder;
    color: #222;
}

.team-record {
    grid-area: 1 / 11 / 2 / 14;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bold;
    color: #222;
}

.team-score {
    grid-area: 1 / 14 / 2 / 15;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    color: #222;
}

.team-bestplayer {
    grid-area: 2 / 5 / 3 / 9;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}

.team-lastweek {
    grid-area: 2 / 9 / 3 / 14;
    place-self: stretch / center;
    text-align: center;
    text-justify: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}

.team-streak {
    grid-area: 2 / 14 / 3 / 15;
    place-self: stretch / center;
    text-align: center;
    font-family: "esport";
    font-weight: bold;
    color: #666;
}
    
@media all and (min-width: 1000px) {
    .rank { font-size: 2em; }
    .rank-gain { font-size: 1.8em; }
    .team-name { font-size: 2em; }
    .team-record { font-size: 1.7em; }
    .team-score { font-size: 1.7em; }
    .team-bestplayer { font-size: 1.3em; }
    .team-lastweek { font-size: 1.3em; }
    .team-streak { font-size: 1em; }
    .team-logo img { height: 100px; width:100%; }
}

@media all and (max-width: 1000px) {
    .rankings-slot { grid-template-rows: 90px 60px; }
    .rank { font-size: 12px; }
    .rank-gain { font-size: 8px; }
    .team-name { font-size: 14px; }
    .team-record { font-size: 9px; }
    .team-score { font-size: 9px; }
    .team-bestplayer { 
        font-size: 6px; 
        grid-area: 2 / 5 / 3 / 5;
    }
    .team-lastweek { 
        font-size: 6px; 
        grid-area: 2 / 5 / 3 / 14;
    }
    .team-streak { font-size: 5px; }   
    .team-logo img { height: 150px; width:100%; } 
}
