*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;

}

html, body{
    margin: 0;
    padding: 0;

}

.clr{
    clear:both;
}

.main-header {
    background-image: url("Images/Headers/background.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sunview-header {
    background-image: url("Images/Headers/svbackground.png");
    background-blend-mode: multiply;
    background-size: cover;
    float:left;
    padding: 0px 0px 0px 4%;
}

.hotel-header {
    background-image: url("Images/Headers/hhbackground.png");
    background-blend-mode: multiply;
    background-size: cover;
    float:left;
    padding: 0px 4% 0px 0px;
}

.home-page-logos {
    background-image: url("Images/Headers/background.png");
    background-blend-mode: multiply;
    background-size: cover;
    float: left;
    padding: 5% 3% 10% 3%;
}

.headerconflogo {
    width: 32%;
    float: left;
    padding: 5px 4%;
    box-sizing: border-box;
}

.headerteamlogo {
    width: 8.5%;
    float: left;
    padding: 3.5% 0.5%;
    box-sizing: border-box;
}

.home-page-button{
    width: 48.5%;
    padding: 0.5%;
}