*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;

}

@font-face {
    font-family: "esport";
    src: url("../../GSHL/Fonts/gravtrac/gravtrac compressed bd.ttf");
}

html, body{
    margin: 0;
    padding: 0;

}

body {
    background-image: url("../Images/background-pdf.png");
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    text-align: center;
}

.clr{
    clear:both;
}

.headerimg {
    padding: 0%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.buttonimg {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

#leaderboard {
    background-image: url("../Images/leaderboard-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.leaderboard-slot {
    max-width: 1200px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(18, 5.55%);
    place-items: center;
    place-content: center;
    padding-bottom: 10px;
    border-bottom: 0.5px dotted #222;
}

.rank {
    grid-area: 1 / 1 / 5 / 3;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.4em;
    color: #222;
}

.team {
    grid-area: 1 / 3 / 2 / 14;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.6em;
    color: #222;
    padding: 4px 0px;
}

.proj-money {
    grid-area: 1 / 14 / 2 / 19;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.4em;
    color: #222;
}

.first-golfer {
    grid-area: 2 / 3 / 3 / 7;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.second-golfer {
    grid-area: 2 / 7 / 3 / 11;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.third-golfer {
    grid-area: 2 / 11 / 3 / 15;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.fourth-golfer {
    grid-area: 2 / 15 / 3 / 19;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.fifth-golfer {
    grid-area: 3 / 3 / 4 / 7;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.sixth-golfer {
    grid-area: 3 / 7 / 4 / 11;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.seventh-golfer {
    grid-area: 3 / 11 / 4 / 15;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.eigth-golfer {
    grid-area: 3 / 15 / 4 / 19;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.ninth-golfer {
    grid-area: 4 / 3 / 5 / 7;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.tenth-golfer {
    grid-area: 4 / 7 / 5 / 11;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.eleventh-golfer {
    grid-area: 4 / 11 / 5 / 15;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

.twelvth-golfer {
    grid-area: 4 / 15 / 5 / 19;
    text-align: center;
    text-justify: center;
    font-size: 0.7em;
    color: #222;
}

@media screen and (max-device-width: 1280px) {
    .rank { font-family: "esport"; }
    .team { font-family: "esport"; }
    .proj-money { font-family: "esport"; font-weight: bold; }
    .first-golfer { font-family: "esport"; }
    .second-golfer { font-family: "esport"; }
    .third-golfer { font-family: "esport"; }
    .fourth-golfer { font-family: "esport"; }
    .fifth-golfer { font-family: "esport"; }
    .sixth-golfer { font-family: "esport"; }
    .seventh-golfer { font-family: "esport"; }
    .eigth-golfer { font-family: "esport"; }
    .ninth-golfer { font-family: "esport"; }
    .tenth-golfer { font-family: "esport"; }
    .eleventh-golfer { font-family: "esport"; }
    .twelvth-golfer { font-family: "esport"; }
}
