*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;

}

@font-face {
    font-family: "esport";
    src: url("../../GSHL/Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "slab";
    src: url("/GSHL/Fonts/Corki/TD-Corki-Regular.otf");
}
    
html, body{
    margin: 0;
    padding: 0;

}

body {
    background-image: url("../Images/background-pdf.png");
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    text-align: center;
}

.clr{
    clear:both;
}

.headerimg {
    padding: 0%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}

.buttonimg {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

#leaderboard {
    background-image: url("../Images/leaderboard-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.leaderboard-slot {
    max-width: 1000px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(13, 7.69%);
    place-items: center;
    place-content: center;
    padding-bottom: 10px;
    border-bottom: 0.5px dotted #222;
}

.rank {
    grid-area: 1 / 1 / 5 / 2;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.6em;
    color: #222;
}

.team {
    grid-area: 1 / 2 / 2 / 10;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.8em;
    color: #222;
    padding: 4px 0px;
}

.proj-money {
    grid-area: 1 / 10 / 2 / 14;
    text-align: center;
    text-justify: center;
    font-weight: bolder;
    font-size: 1.5em;
    color: #222;
}

.first-golfer {
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.second-golfer {
    grid-area: 2 / 4 / 3 / 6;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.third-golfer {
    grid-area: 2 / 6 / 3 / 8;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.fourth-golfer {
    grid-area: 2 / 8 / 3 / 10;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.fifth-golfer {
    grid-area: 2 / 10 / 3 / 12;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.sixth-golfer {
    grid-area: 2 / 12 / 3 / 14;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.seventh-golfer {
    grid-area: 3 / 2 / 4 / 4;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.eigth-golfer {
    grid-area: 3 / 4 / 4 / 6;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.ninth-golfer {
    grid-area: 3 / 6 / 4 / 8;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.tenth-golfer {
    grid-area: 3 / 8 / 4 / 10;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.eleventh-golfer {
    grid-area: 3 / 10 / 4 / 12;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

.twelvth-golfer {
    grid-area: 3 / 12 / 4 / 14;
    text-align: center;
    text-justify: center;
    font-size: 0.75em;
    color: #222;
}

@media screen and (max-device-width: 1280px) {
    .rank { font-family: "esport"; grid-area: 1 / 1 / 5 / 2; }
    .team { font-family: "esport"; grid-area: 1 / 2 / 2 / 11; }
    .proj-money { font-family: "esport"; font-weight: bold; grid-area: 1 / 11 / 2 / 14; }
    .first-golfer { font-family: "slab"; grid-area: 2 / 2 / 3 / 5; }
    .second-golfer { font-family: "slab"; grid-area: 2 / 5 / 3 / 8; }
    .third-golfer { font-family: "slab"; grid-area: 2 / 8 / 3 / 11; }
    .fourth-golfer { font-family: "slab"; grid-area: 2 / 11 / 3 / 14; }
    .fifth-golfer { font-family: "slab"; grid-area: 3 / 2 / 4 / 5; }
    .sixth-golfer { font-family: "slab"; grid-area: 3 / 5 / 4 / 8; }
    .seventh-golfer { font-family: "slab"; grid-area: 3 / 8 / 4 / 11; }
    .eigth-golfer { font-family: "slab"; grid-area: 3 / 11 / 4 / 14; }
    .ninth-golfer { font-family: "slab"; grid-area: 4 / 2 / 5 / 5; }
    .tenth-golfer { font-family: "slab"; grid-area: 4 / 5 / 5 / 8; }
    .eleventh-golfer { font-family: "slab"; grid-area: 4 / 8 / 5 / 11; }
    .twelvth-golfer { font-family: "slab"; grid-area: 4 / 11 / 5 / 14; }
}
