* {
	color: #555555;
	font: normal 16px Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	--shadow: 3px 3px 2px rgba(104, 104, 104, 0.8);
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "yanone";
}

.clr {
	clear: both;
}

.main-header {
	background: #f5f5f5;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.w3-bar {
	font-family: "varelaround";
	background: #e5e5e5;
}

/* Overall Grid Formatting */

.grid-container {
	display: grid;
	grid-gap: 15px;
	padding-top: 25px;
	grid-auto-flow: row;
	grid-template-columns: repeat(12, 1fr);
	margin: auto;
}

.grid-leaderboard {
	grid-area: 1 / 1 / 25 / 13;
}

.leaderboard-grid {
	display: grid;
	grid-gap: 5px;
	grid-auto-flow: row;
	grid-template-columns: repeat(12, 1fr);
	text-align: center;
	padding-top: 5px;
	max-width: 600px;
	margin: auto;
}

#tournament-header {
	grid-area: 1 / 1 / 5 / 13;
}
.refresh-note {
	font-size: 0.65rem;
	color: #999;
	grid-area: 5 / 1 / 6 / 13;
}
#tournament-leaderboard {
	grid-area: 6 / 1 / 13 / 13;
}

/* Tournament Info Formatting */

.tournament-header-header {
	width: 100%;
	display: grid;
	grid-gap: 5px;
	grid-auto-flow: row;
	grid-template-columns: repeat(10, 1fr);
	text-align: center;
	border-bottom: 2px solid #222;
}

.tournament-header-logo {
	grid-area: 1/1/5/3;
	place-self: center;
}
.tournament-header-logo img {
	display: block;
	max-width: 100%;
	max-height: 160px;
}
.tournament-header-tourneyname {
	grid-area: 1/3/3/8;
	font-size: 1.2rem;
	font-weight: bolder;
	padding-top: 15px;
	place-self: center;
}
.tournament-header-tourneydate {
	grid-area: 1/8/3/11;
	font-size: 0.9rem;
	padding-top: 15px;
	place-self: center;
}
.tournament-header-tourneycity {
	grid-area: 3/6/4/9;
	font-size: 0.75rem;
	place-self: center;
}
.tournament-header-tourneycourse {
	grid-area: 3/3/4/6;
	font-size: 0.75rem;
	place-self: center;
}
.tournament-header-tourneypar {
	grid-area: 3/9/4/11;
	font-size: 0.75rem;
	place-self: center;
}

.tournament-leaderboard-slot-labels {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(11, 1fr);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 1em;
	font-weight: bold;
	font-family: "varelaround";
}

.tournament-leaderboard-rank-label {
	grid-area: 1/1/2/2;
	font-size: 0.85rem;
	font-family: "varelaround";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-teamname-label {
	grid-area: 1/2/2/8;
	font-size: 1rem;
	font-family: "varelaround";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-totaltopar-label {
	grid-area: 1/8/2/10;
	font-size: 1rem;
	font-family: "varelaround";
	font-weight: bold;
	place-self: center;
}
.tournament-leaderboard-todaytopar-label {
	grid-area: 1/10/2/11;
	font-size: 0.75rem;
	font-family: "varelaround";
	place-self: center;
}
.tournament-leaderboard-todaythru-label {
	grid-area: 1/11/2/12;
	font-size: 0.75rem;
	font-family: "varelaround";
	place-self: center;
}


/* Leaderboard Grid Formatting */

#tournament-leaderboard {
	padding-top: 10px;
}
.tournament-leaderboard-slot {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(11, 1fr);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px dashed #ddd;
}

.tournament-leaderboard-rank {
	grid-area: 1/1/2/2;
	font-size: 0.8rem;
	font-weight: bold;
	font-family: "varelaround";
	place-self: center;
}
.tournament-leaderboard-teamname {
	grid-area: 1/2/2/8;
	font-size: 1rem;
	font-weight: bold;
	font-family: "varelaround";
	place-self: center;
}
.tournament-leaderboard-totaltopar {
	grid-area: 1/8/2/10;
	font-size: 1rem;
	font-weight: bold;
	font-family: "varelaround";
	place-self: center;
}
.tournament-leaderboard-todaytopar {
	grid-area: 1/10/2/11;
	font-size: 0.7rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-todaythru {
	grid-area: 1/11/2/12;
	font-size: 0.7rem;
	font-family: "opensaucelight";
	place-self: center;
}

.tournament-leaderboard-slot-extras {
	width: 90%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	grid-gap: 3px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.tournament-leaderboard-roundone-label {
	grid-area: 1/1/2/2;
	font-size: 0.5rem;
	font-family: "opensaucelight";
	place-self: center;
	font-weight: bold;
}
.tournament-leaderboard-roundtwo-label {
	grid-area: 1/2/2/3;
	font-size: 0.5rem;
	font-family: "opensaucelight";
	place-self: center;
	font-weight: bold;
}
.tournament-leaderboard-roundthree-label {
	grid-area: 1/3/2/4;
	font-size: 0.5rem;
	font-family: "opensaucelight";
	place-self: center;
	font-weight: bold;
}
.tournament-leaderboard-roundfour-label {
	grid-area: 1/4/2/5;
	font-size: 0.5rem;
	font-family: "opensaucelight";
	place-self: center;
	font-weight: bold;
}
.tournament-leaderboard-total-label {
	grid-area: 1/5/2/6;
	font-size: 0.5rem;
	font-family: "opensaucelight";
	place-self: center;
	font-weight: bold;
}
.tournament-leaderboard-roundone {
	grid-area: 2/1/3/2;
	font-size: 0.65rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-roundtwo {
	grid-area: 2/2/3/3;
	font-size: 0.65rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-roundthree {
	grid-area: 2/3/3/4;
	font-size: 0.65rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-roundfour {
	grid-area: 2/4/3/5;
	font-size: 0.65rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-total {
	grid-area: 2/5/3/6;
	font-size: 0.65rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferone {
	grid-area: 3/1/4/2;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golfertwo {
	grid-area: 3/2/4/3;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferthree {
	grid-area: 3/3/4/4;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferfour {
	grid-area: 3/4/4/5;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferfive {
	grid-area: 3/5/4/6;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golfersix {
	grid-area: 4/1/5/2;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferseven {
	grid-area: 4/2/5/3;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golfereight {
	grid-area: 4/3/5/4;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golfernine {
	grid-area: 4/4/5/5;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}
.tournament-leaderboard-golferten {
	grid-area: 4/5/5/6;
	font-size: 0.525rem;
	font-family: "opensaucelight";
	place-self: center;
}

@media only screen and (min-width: 500px) {
	.tournament-header-tourneyname {
		font-size: 1.5453rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.3rem;
	}
	.tournament-header-tourneycity {
		font-size: 0.95rem;
	}
	.tournament-header-tourneycourse {
		font-size: 0.95rem;
	}
	.tournament-header-tourneypar {
		font-size: 0.95rem;
	}
}

@media only screen and (min-width: 600px) {
	.tournament-header-tourneyname {
		font-size: 1.8rem;
	}
	.tournament-header-tourneydate {
		font-size: 1.5rem;
	}
	.tournament-header-tourneycity {
		font-size: 1.1rem;
	}
	.tournament-header-tourneycourse {
		font-size: 1.1rem;
	}
	.tournament-header-tourneypar {
		font-size: 1.1rem;
	}

	.tournament-leaderboard-rank-label {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-teamname-label {
		font-size: 1rem;
	}
	.tournament-leaderboard-totaltopar-label {
		font-size: 1rem;
	}
	.tournament-leaderboard-todaytopar-label {
		font-size: 0.75rem;
	}
	.tournament-leaderboard-todaythru-label {
		font-size: 0.75rem;
	}

	.tournament-leaderboard-rank {
		font-size: 1.05rem;
	}
	.tournament-leaderboard-teamname {
		font-size: 1.15rem;
	}
	.tournament-leaderboard-totaltopar {
		font-size: 1.15rem;
	}
	.tournament-leaderboard-todaytopar {
		font-size: 0.95rem;
	}
	.tournament-leaderboard-todaythru {
		font-size: 0.95rem;
	}

	.tournament-leaderboard-roundone-label {
		font-size: 0.65rem;
	}
	.tournament-leaderboard-roundtwo-label {
		font-size: 0.65rem;
	}
	.tournament-leaderboard-roundthree-label {
		font-size: 0.65rem;
	}
	.tournament-leaderboard-roundfour-label {
		font-size: 0.65rem;
	}
	.tournament-leaderboard-total-label {
		font-size: 0.65rem;
	}
	.tournament-leaderboard-roundone {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-roundtwo {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-roundthree {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-roundfour {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-total {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferone {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golfertwo {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferthree {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferfour {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferfive {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golfersix {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferseven {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golfereight {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golfernine {
		font-size: 0.85rem;
	}
	.tournament-leaderboard-golferten {
		font-size: 0.85rem;
	}
}
