*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;
    --shadow: 3px 3px 2px rgba(104,104,104,0.8);
}

html, body{
    margin: 0;
    padding: 0;
    font-family: "yanone";
}

.clr{
    clear:both;
}


.main-header {
    background: #e5e5e5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.w3-bar {font-family: "varelaround";background:#e5e5e5;}


/* Overall Grid Formatting */

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    margin: 10px auto;
    width: 95%;
    max-width: 1250px;
    background: #fff;
    border-radius: 30px;
}

.grid-standings {grid-area: 1 / 1 / 25 / 13;}

.standings-grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    padding-top: 0px;
    margin: 0px 0px;
}

#standings-header {grid-area: 1 / 1 / 5 / 13;}
#standings-list {grid-area: 5 / 1 / 13 / 13;}



/* Tournament Info Formatting */

#standings-header {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(19, 1fr);
    text-align: center;
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #ccc;
    font-family: "varelaround";
}

.standings-header-rank {grid-area:1/1/2/4;font-size:0.8rem;font-weight:bold;place-self:center;}
.standings-header-name {grid-area:1/4/2/14;font-size:0.85rem;font-weight:bold;place-self:center;}
.standings-header-points {grid-area:1/14/2/17;font-size:0.8rem;font-weight:bold;place-self:center;padding:5px;}
.standings-header-earnings {grid-area:1/17/2/20;font-size:0.65rem;place-self:center;}

/* Leaderboard Grid Formatting */

.standings-slot {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(19, 1fr);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px dashed #ccc;
    font-family: "varelaround";
}

.slot-35, .slot-T35 {
    border-bottom: 2px solid #444;
}


.standings-rank {grid-area:1/1/2/3;font-size:0.8rem;place-self:center;}
.standings-rankchange {grid-area:1/2/2/4;font-size:0.6rem;place-self:center;}
.standings-teamname {grid-area:1/4/2/14;font-size:0.95rem;place-self:center;}
.standings-points {grid-area:1/14/2/17;font-size:0.9rem;place-self:center;}
.standings-earnings {grid-area:1/17/2/20;font-size:0.75rem;place-self:center;}

.slot-extras-wrapper {grid-area:2/1/3/20;width:100%;}
.slot-extras {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.slot-extras-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.extra-stats-labels {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 3px 0px;
}
.extra-stats-label {
    font-size: 0.55rem;
    place-self: center;
}


.extra-stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 3px 0px;
}
.extra-stat {
    font-size: 0.65rem;
}


.slot-extras-tournaments {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.tournament-history {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-left: 1px dotted #ccc;
}
.tourney-hist {
    border-right: 1px dotted #ccc;
}
.tourney-logo > img {
    object-fit: cover;
    width: 90%;
    max-width: 50px;
}
.tourney-rank {
    padding: 5px 0px;
    font-size: 0.75rem;
    font-weight: bold;
}

@media only screen and (min-width: 500px) {
    .standings-rank {font-size: 0.85rem;}
    .standings-rankchange {font-size: 0.65rem;}
    .standings-teamname {font-size: 1rem;}
    .standings-points {font-size: 0.95rem;}
    .standings-earnings {font-size: 0.85rem;}
    .extra-stats-label {font-size: 0.55rem;}
    .extra-stat {font-size: 0.7em;}
    .tourney-rank {font-size: 0.85rem;}
}
@media only screen and (min-width: 675px) {
    .grid-container {width: 90%;}
    .standings-grid {margin: 5px 25px;}
    .standings-rank {font-size: 0.95rem;}
    .standings-rankchange {font-size: 0.675rem;}
    .standings-teamname {font-size: 1.1rem;}
    .standings-points {font-size: 1.05rem;}
    .standings-earnings {font-size: 0.95rem;}
    .extra-stats-label {font-size: 0.6rem;}
    .extra-stat {font-size: 0.75em;}
    .tourney-rank {font-size: 0.95rem;}
}
@media only screen and (min-width: 850px) {
    .standings-rank {font-size: 1rem;}
    .standings-rankchange {font-size: 0.7rem;}
    .standings-teamname {font-size: 1.2rem;}
    .standings-points {font-size: 1.15rem;}
    .standings-earnings {font-size: 1rem;}
    .extra-stats-label {font-size: 0.65rem;}
    .extra-stat {font-size: 0.85em;}
    .tourney-rank {font-size: 1rem;}
}
@media only screen and (min-width: 1100px) {
    .standings-rank {font-size: 1.15rem;}
    .standings-rankchange {font-size: 0.85rem;}
    .standings-teamname {font-size: 1.4rem;}
    .standings-points {font-size: 1.35rem;}
    .standings-earnings {font-size: 1.15rem;}
    .extra-stats-label {font-size: 0.8rem;}
    .extra-stat {font-size: 1em;}
    .tourney-rank {font-size: 1.1rem;}
}