body {
    color: #222
}

.header-logo-construction {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

.header-logo-construction img {
    max-width: 450px;
}

.construction {
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 2em;
}



/* Slides Formatting */

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}



/* Overall Grid Formatting */

.grid-container {
    display: grid;
    grid-gap: 5px;
    padding-left: 25px;
    padding-right: 25px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,110px);
    max-width: 1250px;
    margin: auto;
}

.grid-standings {grid-area: 1 / 1 / 5 / 9; background-color: rgba(225,225,225,0.5);}
.grid-worldrank {grid-area: 2 / 9 / 6 / 13; background-color: rgba(225,225,225,0.5);}
.grid-schedule {grid-area: 5 / 1 / 9 / 9; background-color: rgba(225,225,225,0.5);}
.grid-headlines {grid-area: 9 / 1 / 13 / 9; background-color: rgba(225,225,225,0.5);}
.grid-links {grid-area: 10 / 9 / 12 / 13; background-color: rgba(225,225,225,0.5);}
.grid-twitter {grid-area: 6 / 9 / 10 / 13;}
.grid-enterbutton {grid-area: 1 / 9 / 2 / 13;}



/* Standings Grid Formatting */

.standings-grid {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25px;
    text-align: center;
}

.standings-grid-header-cupstandings {grid-area:1/1/3/11;font-weight:bolder;font-size:2.2em;}
.standings-grid-header-teamrank {grid-area:3/1/4/2;font-weight:bold;}
.standings-grid-header-teamname {grid-area:3/2/4/6;font-weight:bold;}
.standings-grid-header-cuppoints {grid-area:3/6/4/8;font-weight:bold;}
.standings-grid-header-wins {grid-area:3/8/4/9;font-weight:bold;}
.standings-grid-header-toptens {grid-area:3/9/4/10;font-weight:bold;}
.standings-grid-header-cuts {grid-area:3/10/4/11;font-weight:bold;}
#standings-slots {grid-area:4/1/5/11;}
.standings-grid-link {grid-area:5/9/10/11;}

.standings-grid-slot {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25px;
    text-align: center;
    padding-bottom: 5px;
}
.standings-grid-slot-rank {grid-area:1/1/2/2;}
.standings-grid-slot-team-name {grid-area:1/2/2/6;}
.standings-grid-slot-team-cuppoints {grid-area:1/6/2/8;}
.standings-grid-slot-team-wins {grid-area:1/8/2/9;}
.standings-grid-slot-team-toptens {grid-area:1/9/2/10;}
.standings-grid-slot-team-cuts {grid-area:1/10/2/11;}



/* Schedule Grid Formatting */

.schedule-grid {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 25px;
    text-align: center;
}

.schedule-grid-header-schedule {grid-area:1/1/3/12;font-weight:bolder;font-size:2.2em;}
.schedule-grid-header-date {grid-area:3/1/4/3;font-weight:bold;}
.schedule-grid-header-tourney {grid-area:3/3/4/7;font-weight:bold;}
.schedule-grid-header-winner {grid-area:3/7/4/10;font-weight:bold;}
.schedule-grid-header-cuppoints {grid-area:3/10/4/12;font-weight:bold;}
#schedule-listing {grid-area:4/1/5/12;}

.schedule-slot {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 25px;
    text-align: center;
    padding-bottom: 5px;
}
.schedule-slot-date {grid-area:1/1/2/3;}
.schedule-slot-tourney-name {grid-area:1/3/2/7;}
.schedule-slot-tourney-winner {grid-area:1/7/2/10;}
.schedule-slot-tourney-cuppoints {grid-area:1/10/2/12;}



/* World Rank Grid Formatting */

.worldrank-grid {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 25px;
    text-align: center;
}

.worldrank-grid-header {grid-area:1/1/3/16;font-weight:bolder;font-size:1.8em;}
.worldrank-grid-header-rank {grid-area:3/1/4/3;font-weight:bold;}
.worldrank-grid-header-golfer {grid-area:3/3/4/11;font-weight:bold;}
.worldrank-grid-header-points {grid-area:3/11/4/14;font-weight:bold;}
.worldrank-grid-header-events {grid-area:3/14/4/16;font-weight:bold;}
#worldrank-list {grid-area:4/1/5/16;}
.worldrank-grid-link {grid-area:5/13/10/16;}

.worldrank-slot {
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 33px;
    text-align: center;
}
.worldrank-slot-rank {grid-area:1/1/2/3;}
.worldrank-slot-golfer {grid-area:1/3/2/11;}
.worldrank-slot-points {grid-area:1/11/2/14;}
.worldrank-slot-events {grid-area:1/14/2/16;}
