body {
    color: #222
}

.header-logo {
    width: 100%;
    text-align: center;
    margin: auto;
}

.header-logo img {
    max-width: 450px;
}

.construction {
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 2em;
}
