body {
    color: #222
}

.header-logo-construction {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

.header-logo-construction img {
    max-width: 450px;
}

.construction {
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 2em;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,125px);
}

.grid-standings {grid-area: 1 / 1 / 5 / 9;}
.grid-worldrank {grid-area: 2 / 9 / 6 / 13;}
.grid-schedule {grid-area: 5 / 1 / 9 / 9;}
.grid-headlines {grid-area: 9 / 1 / 13 / 9;}
.grid-links {grid-area: 10 / 9 / 12 / 13;}
.grid-twitter {grid-area: 6 / 9 / 10 / 13;}
.grid-enterbutton {grid-area: 1 / 9 / 2 / 13;}