body {
    color: #222;
    background-color: rgba(0, 135, 99, 0.25);
    font-family: 'Bitter', serif;
}



/* Overall Grid Formatting */

.grid-container {
    display: grid;
    grid-gap: 0px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    width: 1450px;
    margin: auto;
}

.grid-draftboard-rankings {grid-area: 1 / 1 / 25 / 13; background-color: rgb(250 250 250);}

.draftboard-rankings-grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px;
    text-align: center;
    padding-top: 15px;
}

#draftboard-rankings-overall {grid-area: 1 / 1 / 13 / 13;}
#draftboard-rankings-center {grid-area: 5 / 1 / 13 / 13;display:none;}
#draftboard-rankings-leftwing {grid-area: 5 / 1 / 13 / 13;display:none;}
#draftboard-rankings-rightwing {grid-area: 5 / 1 / 13 / 13;display:none;}
#draftboard-rankings-defense {grid-area: 5 / 1 / 13 / 13;display:none;}
#draftboard-rankings-goalies {grid-area: 5 / 1 / 13 / 13;display:none;}


#draftboard-rankings {padding-top:0px;}
.draftboard-rankings-slot {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(14, 1fr);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #ccc;
}

.draftboard-rankings-rank {grid-area:1/1/3/2;font-size:1em;}
.draftboard-rankings-name {grid-area:1/2/3/5;font-size:1em;}
.draftboard-rankings-age {grid-area:1/5/3/6;font-size:1em;}
.draftboard-rankings-pos {grid-area:1/6/3/7;font-size:1em;}
.draftboard-rankings-salary {grid-area:1/7/3/9;font-size:1em;}
.draftboard-rankings-stats {grid-area:1/9/3/12;font-size:1em;}
.draftboard-rankings-oldstats {grid-area:1/12/3/15;font-size:1em;}



@media only screen and (max-width: 1450px) {
.grid-container {width:100%;}
.draftboard-team.class-1 {font-size: 0.8em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.65em;}
.draftboard-team {font-size: 0.75em;}

}

@media only screen and (max-width: 1000px) {
.grid-container {width:100%;}
.draftboard-team.class-1 {font-size: 0.8em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.5em;}
.draftboard-team {font-size: 0.65em;}

}

@media only screen and (max-width: 800px) {
.grid-container {width:1000px}
.draftboard-team.class-1 {font-size: 0.65em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.4em;}
.draftboard-team {font-size: 0.5em;}


}

@media only screen and (max-width: 600px) {
.grid-container {width:750px}
.draftboard-team.class-1 {font-size: 0.5em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.3em;}
.draftboard-team {font-size: 0.4em;}


}

@media only screen and (max-width: 480px) {
.grid-container {width:600px}
.draftboard-team.class-1 {font-size: 0.45em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.25em;}
.draftboard-team {font-size: 0.35em;}


}

@media only screen and (max-width: 400px) {
.grid-container {width:500px;}
.draftboard-team.class-1 {font-size: 0.4em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.2em;}
.draftboard-team {font-size: 0.25em;}


}