body {
    color: #222;
    background-color: rgba(0, 135, 99, 0.25);
    font-family: 'Bitter', serif;
}



/* Overall Grid Formatting */

.grid-container {
    display: grid;
    grid-gap: 0px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    width: 1450px;
    margin: auto;
}

.grid-draftboard {grid-area: 1 / 1 / 25 / 13; background-color: rgb(250 250 250);}

.draftboard-grid {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px;
    text-align: center;
    padding-top: 15px;
}

#draftboard {grid-area: 5 / 1 / 13 / 13;}
#draftboard-header {grid-area: 1 / 1 / 5 / 13;}

#draftboard-header {padding-top:0px;}
.draftboard-header-slot {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(16, 1fr);
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px dashed #ccc;
}
.draftboard-header-slot img{width:100%;}
.draftboard-team-header-logo {border-right: 1px dashed #ccc;}
.draftboard-team1-header-logo {border-left: 1px dashed #ccc;}

/* Leaderboard Grid Formatting */

#draftboard {padding-top:0px;}
.draftboard-slot {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(16, 1fr);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #ccc;
}

.draftboard-team.class-1 {font-size: 1.1em;}
.draftboard-team.class-2 {font-size: 0.6em;}
.draftboard-team.class-3 {font-size: 0.75em;}
.draftboard-team {font-size: 0.85em;border-right: 1px dashed #ccc;overflow:hidden;}
.draftboard-team:hover {overflow: visible;}
.draftboard-team1 {border-left: 1px dashed #ccc;}
.CPos {background-color: #ff000078}
.LWPos {background-color: #ff980078}
.RWPos {background-color: #673ab778}
.C-LWPos {background-color: #ffc10778}
.C-RWPos {background-color: #3f51b578}
.LW-RWPos {background-color: #607d8b78}
.C-LW-RWPos {background-color: #79554878}
.DPos {background-color: #00bcd478}
.GPos {background-color: #4caf5078}


@media only screen and (max-width: 1450px) {
.grid-container {width:100%;}
.draftboard-team.class-1 {font-size: 0.8em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.65em;}
.draftboard-team {font-size: 0.75em;}

}

@media only screen and (max-width: 1000px) {
.grid-container {width:100%;}
.draftboard-team.class-1 {font-size: 0.8em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.5em;}
.draftboard-team {font-size: 0.65em;}

}

@media only screen and (max-width: 800px) {
.grid-container {width:1000px}
.draftboard-team.class-1 {font-size: 0.65em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.4em;}
.draftboard-team {font-size: 0.5em;}


}

@media only screen and (max-width: 600px) {
.grid-container {width:750px}
.draftboard-team.class-1 {font-size: 0.5em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.3em;}
.draftboard-team {font-size: 0.4em;}


}

@media only screen and (max-width: 480px) {
.grid-container {width:600px}
.draftboard-team.class-1 {font-size: 0.45em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.25em;}
.draftboard-team {font-size: 0.35em;}


}

@media only screen and (max-width: 400px) {
.grid-container {width:500px;}
.draftboard-team.class-1 {font-size: 0.4em;}
.draftboard-team.class-2 {display:none;}
.draftboard-team.class-3 {font-size: 0.2em;}
.draftboard-team {font-size: 0.25em;}


}