body {
    color: #222;
    background-color: #f5f5f5;
    font-family: 'Bitter', serif;
}



/* Overall Grid Formatting */

.grid-container {
    display: grid;
    grid-gap: 0px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    grid-auto-flow: row;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px;
    text-align: center;
    margin: auto;
}

#draftday-header {grid-area: 1 / 1 / 2 / 13;}
#draftday-rankings-overall {grid-area: 2 / 1 / 13 / 13;}
#draftday-rankings-center {grid-area: 2 / 1 / 13 / 13;}
#draftday-rankings-leftwing {grid-area: 2 / 1 / 13 / 13;}
#draftday-rankings-rightwing {grid-area: 2 / 1 / 13 / 13;}
#draftday-rankings-defense {grid-area: 2 / 1 / 13 / 13;}
#draftday-rankings-goalies {grid-area: 2 / 1 / 13 / 13;}

.overall-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.center-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.leftwing-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.rightwing-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.defense-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.goalie-tab {margin-left:5px;margin-right:5px;padding: 5px 10px;font-size:1.2rem;}
.salary-note {padding-top:5px;font-size:0.7rem;}

.draftday-rankings-slot {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #ccc;
}

.draftday-rankings-rank {grid-area:1/1/3/2;font-size:0.8rem;}
.draftday-rankings-name {grid-area:1/2/3/5;font-size:0.8rem;}
.draftday-rankings-age {grid-area:1/5/3/6;font-size:0.8rem;}
.draftday-rankings-pos {grid-area:1/6/3/7;font-size:0.8rem;}
.draftday-rankings-rating {grid-area:1/7/3/8;font-size:0.8rem;}
.draftday-rankings-salary {grid-area:1/8/3/11;font-size:0.8rem;}
