*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;

}

html, body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;

}

.clr{
    clear:both;
}

.main-header {
    background: #f5f5f5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headerimg {
    flex: 100%;
    padding: 0;
    max-width: 1200px;
}

.headerimg img {
    width: 100%;
    vertical-align: middle;
}

.sunview-header {
    background-image: url("../Images/Headers/svbackground.png");
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2px 15%;
}

.hotel-header {
    background-image: url("../Images/Headers/hhbackground.png");
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2px 15%;
}

.headerconflogo {
    flex: 22%;
    padding: 0px 2%;
    max-width: 135px;
}

.headerteamlogo {
    flex: 6%;
    padding: 0px 0.5%;
    max-width: 38px;
}

.headerconflogo img, .headerteamlogo img {
    width: 100%;
    vertical-align: middle;
}

.home-page-logos {
    background: #f5f5f5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 3% 10% 3%;
}

.home-page-button{
    flex: 45%;
    padding: 5% 2.5%;
}

.home-page-button img {
    width: 100%;
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgba(104,104,104,0.8);
}

.commish-note {
    background: #f5f5f5;
    text-align: center;
    width: 90%;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.45em;
    font-weight: bold;
    color: #000;
}

.commish-link {
    font-size: 1.6em;
    font-weight: bold;
    color: #000;
}