*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;

}

html, body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;

}

.clr{
    clear:both;
}

.main-header {
    background: #f5f5f5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headerimg {
    flex: 100%;
    padding: 0;
    max-width: 1200px;
}

.headerimg img {
    width: 100%;
    vertical-align: middle;
}
