:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.clr{
    clear:both;
}

/* Header Navigation */
.nav {
    padding: 15px 30px 0px 30px;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    grid-auto-rows: 25px;
}

.nav-button {
    width: 100%;
}

.nav-button img {
    width: 100%;
    max-width: 125px;
    max-height: 31px;
}

/* Header Image */
.header {
    background-image: url("Images/Headers/background.png");
    background-blend-mode: multiply;
    background-size: cover;
}

.header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px 0px;
}

.headerimg {
    flex: 100%;
    padding: 0;
    max-width: 1000px;
}

.headerimg img {
    width: 100%;
}