:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

@font-face {
    font-family: "esport";
    src: url("../Fonts/sf-sports-night/TrueType/SFSportsNightNS.ttf");
}

html, body {
    margin: 0;
    padding: 0;
}

.clr{
    clear:both;
}

/* Header Image */
.header {
    background: #f5f5f5;
}

.header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px 0px;
}

.headerimg {
    flex: 100%;
    padding: 0;
    max-width: 1000px;
}

.headerimg img {
    width: 100%;
}
