body {
    color: #222;
    background-color: #f5f5f5;
    font-family: "yanone";
}

.rulevido { margin: 30px 0px; }
.rulebook-header {font-size:2rem;font-weight:bolder;text-align:center;margin:50px;}
.rulebook-subheader {font-size:1.5rem;font-weight:bold;text-align:center;width:90%;margin:auto;margin-top:30px;}
.rulebook-rules {font-size:1rem;width:85%;margin:auto;text-align:center;margin-top:20px;}
.rulebook-subrules {font-size:0.8rem;width:75%;margin:auto;text-align:center;padding-top:5px;}
.bottom {margin-bottom:40px;}