body {
    color: #222;
    background-color: #f5f5f5;
    font-family: 'Bitter', serif;
}

.rulebook-header {font-size:4rem;font-weight:bolder;text-align:center;margin:50px;font-family:popwarner;}
.rulebook-subheader {font-size:1.55rem;font-weight:bold;text-align:center;width:90%;margin:auto;margin-top:30px;font-family:popwarner;}
.rulebook-rules {font-size:1.15rem;width:85%;margin:auto;text-align:center;margin-top:15px;font-family:corki;}
.rulebook-subrules {font-size:1rem;width:75%;margin:auto;text-align:center;font-family:corki;}
.bottom {margin-bottom:40px;}