:root{
    --hotelcolour: rgba(119,38,28,0.3);
    --sunviewcolour: rgba(26,76,131,0.3);
    --shadow: 5px 5px 3px rgba(104,104,104,0.8);
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: #f5f5f5;
}

.clr{
    clear:both;
}

.standings-table {
    width: 90%;
    max-width:700px;
    padding: 10px;
    margin: 20px;
    background: rgba(26,76,131,0.3);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    display: inline-block;
}

#standings-table-sv { background: rgba(26,76,131,0.2); }
#standings-table-hh { background: rgba(119,38,28,0.2); }

#standings-table-wc { 
    width: 90%;
    max-width:700px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background: rgba(225,225,225,0.4); 
    display: inline-block;
}

.standings-slot {
    margin: 0px 50px;
    padding: 2px;
    place-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.conf-logo {
    width: 45%;
    max-width: 500px;
    margin: auto;
    padding-bottom: 10px;
}

.conf-logo img { width: 100%; }

.place {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "yanone";
    color: #222;
    margin: 10px;
    flex-grow: 1;
}

.team-logo {
    display: inline-block;
}

.team-logo img {
    height: 100%;
    width: 100%;
    max-width: 5rem;
    padding: 0.3rem;
    flex-grow: 1;
}

.slot-info {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.slot-team-info {
    display: flex;
    flex-direction: row;
}


.team-name {
    font-size: 1.7rem;
    font-family: "yanone";
    margin: 10px;
    color: #222;
}

.team-record {
    text-align: center;
    font-size: 1.35rem;
    font-weight: bold;
    font-family: "yanone";
    color: #222;
    flex-grow: 3;
}

.team-conf-record {
    display:none;
}

.team-streak {
    text-align: center;
    font-size: 1.1rem;
    font-family: "yanone";
    color: #222;
    flex-grow: 1;
}

.team-playoff {
    text-align: center;
    font-size: 1.1rem;
    font-family: "yanone";
    color: #222;
    flex-grow: 1;
}

.team-cat-diff {
    text-align: center;
    font-size: 1.1rem;
    font-family: "yanone";
    color: #222;
    flex-grow: 1;
}

#standings-table-wc .place { color:#222; }
#standings-table-sv #slot-3  { border-bottom: 2px solid rgba(26,76,131,1); }
#standings-table-hh #slot-3  { border-bottom: 2px solid rgba(119,38,28,1); }
#standings-table-wc #slot-2  { border-bottom: 2px solid rgba(0,0,0,1); }

.SV { color: rgba(26,76,131,1); }
.HH { color: rgba(119,38,28,1); }
