:root{
    --hotelcolour: rgba(119,38,28,0.3);
    --sunviewcolour: rgba(26,76,131,0.3);
    --shadow: 5px 5px 3px rgba(104,104,104,0.8);
}

@font-face {
    font-family: "gravtrac";
    src: url("../Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "corki";
    src: url("../Fonts/Corki/TD-Corki-Rounded.otf");
}

*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/Headers/background2.png");
    background-blend-mode: multiply;
    background-size: cover;
}

.clr{
    clear:both;
}

.standings-table {
    width: 80%;
    min-width: 450px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    background: rgba(26,76,131,0.3);
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

#standings-table-sv { background: rgba(26,76,131,0.3); }
#standings-table-hh { background: rgba(119,38,28,0.3); }

#standings-table-wc { 
    width: 80%;
    min-width: 450px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(26,76,131,0.3);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background: rgba(225,225,225,0.3); 
}

.standings-slot {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: repeat(13, 7.65%);
    grid-template-rows: 50px 35px;
    place-items: center;
    place-content: center;    
}

.conf-logo {
    width: 60%;
    max-width: 400px;
    margin: auto;
    padding-bottom: 10px;
}

.conf-logo img { width: 100%; }

.place {
    grid-area: 1 / 1 / 3 / 2;
    text-align: center;
    text-justify: center;
    font-size: 2em;
    font-weight: bold;
    font-family: "corki";
    color: #222;
    white-space: nowrap;
}

.team-logo {
    grid-area: 1 / 2 / 3 / 4;
    place-self: center;
    justify-self: center;
    object-fit: fill;
}

.team-logo img {
    height: 80px;
    width: 80px;
}

.team-name {
    grid-area: 1 / 4 / 2 / 12;
    text-align: center;
    text-justify: center;
    font-size: 2.3em;
    font-family: "corki";
    font-weight: bold;
    color: #222;
    white-space: nowrap;
}

.team-record {
    grid-area: 2 / 4 / 3 / 7;
    text-align: center;
    text-justify: center;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "corki";
    color: #222;
    white-space: nowrap;
}

.team-conf-record {
    grid-area: 2 / 7 / 3 / 10;
    text-align: center;
    text-justify: center;
    font-size: 1.75em;
    font-family: "corki";
    color: #222;
    white-space: nowrap;
}

.team-points {
    grid-area: 2 / 10 / 3 / 12;
    text-align: center;
    text-justify: center;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "corki";
    color: #222;
    white-space: nowrap;
}

.team-playoff-percent {
    grid-area: 1 / 12 / 3 / 14;
    text-align: center;
    text-justify: center;
    font-size: 2em;
    font-family: "corki";
    color: #222;
    white-space: nowrap;
}

#standings-table-wc .place { color:#222; }
#standings-table-sv #slot-3  { border-bottom: 4px solid rgba(26,76,131,1); }
#standings-table-sv #slot-4  { border-bottom: 1px dashed rgba(26,76,131,1); }
#standings-table-hh #slot-3  { border-bottom: 4px solid rgba(119,38,28,1); }
#standings-table-hh #slot-4  { border-bottom: 1px dashed rgba(119,38,28,1); }
#standings-table-wc #slot-2  { border-bottom: 4px solid rgba(0,0,0,1); }

.SV { color: rgba(26,76,131,1); }
.HH { color: rgba(119,38,28,1); }

@media screen and (min-device-width: 1280px) and (min-width: 900px) {
    .standings-table {
        width: 46%;
        max-width: 850px;
        min-width: 400px;
        padding: 10px;
        float: left;
        margin: 2%;
    }
    #standings-table-wc { width: 75%; max-width: 850px; clear: both; }
    .conf-logo { width: 60%; max-width: 400px; }
}

@media screen and (max-device-width: 1280px) {
}
