:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@font-face {
    font-family: "gravtrac";
    src: url("../Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "corki";
    src: url("../Fonts/Corki/TD-Corki-Rounded.otf");
}


*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/Headers/background2.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}

.matchup-box {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.matchup-slot {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: row;
  grid-template-columns: repeat(27, 1fr);
  grid-template-rows: repeat(14, 30px);
  place-items: center;
  place-content: center;
  background: url("../Images/Images/matchup-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#top-matchup { background: url("../Images/Images/matchup-background-top.png"); background-size: 100% 100%; background-repeat: no-repeat; }

.W { color: #0a790a; font-weight: bold; }
.L { color: #8e0606; }

.away-team { grid-area: 1 / 5 / 5 / 14; font-size: 2.4em; font-weight: bold; font-family: "corki"; text-align: center; }
.away-team-logo { grid-area: 1 / 1 / 5 / 5; text-align: center; }
.away-team-logo img { width: 150px; }
.away-goals { grid-area: 5 / 2 / 6 / 3; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-assists { grid-area: 5 / 3 / 6 / 4; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-points { grid-area: 5 / 4 / 6 / 5; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-plusminus { grid-area: 5 / 5 / 6 / 6; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-powerplaypoints { grid-area: 5 / 6 / 6 / 7; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-shots { grid-area: 5 / 7 / 6 / 8; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-hits { grid-area: 5 / 8 / 6 / 9; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-blocks { grid-area: 5 / 9 / 6 / 10; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-goaliewins { grid-area: 5 / 10 / 6 / 11; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-savepercent { grid-area: 5 / 11 / 6 / 12; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-goalsagainst { grid-area: 5 / 12 / 6 / 13; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-goals-avg { grid-area: 6 / 2 / 7 / 3; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-assists-avg { grid-area: 6 / 3 / 7 / 4; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-points-avg { grid-area: 6 / 4 / 7 / 5; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-plusminus-avg { grid-area: 6 / 5 / 7 / 6; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-powerplaypoints-avg { grid-area: 6 / 6 / 7 / 7; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-shots-avg { grid-area: 6 / 7 / 7 / 8; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-hits-avg { grid-area: 6 / 8 / 7 / 9; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-blocks-avg { grid-area: 6 / 9 / 7 / 10; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-goaliewins-avg { grid-area: 6 / 10 / 7 / 11; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-savepercent-avg { grid-area: 6 / 11 / 7 / 12; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-goalsagainst-avg { grid-area: 6 / 12 / 7 / 13; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topcenter { grid-area: 7 / 5 / 9 / 10; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topleftwing { grid-area: 9 / 1 / 11 / 7; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-toprightwing { grid-area: 9 / 8 / 11 / 14; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topdman { grid-area: 11 / 1 / 13 / 8; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-toptwodman { grid-area: 11 / 7 / 13 / 14; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topgoalie { grid-area: 13 / 5 / 15 / 10; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-win-percent { grid-area: 7 / 12 / 9 / 15; font-family: "corki"; font-size: 1.5em; text-align: center; }

.home-team { grid-area: 1 / 15 / 5 / 24; font-size: 2.4em; font-weight: bold; font-family: "corki"; text-align: center; }
.home-team-logo { grid-area: 1 / 24 / 5 / 28; text-align: center; }
.home-team-logo img { width: 150px; }
.home-goals { grid-area: 5 / 16 / 6 / 17; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-assists { grid-area: 5 / 17 / 6 / 18; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-points { grid-area: 5 / 18 / 6 / 19; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-plusminus { grid-area: 5 / 19 / 6 / 20; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-powerplaypoints { grid-area: 5 / 20 / 6 / 21; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-shots { grid-area: 5 / 21 / 6 / 22; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-hits { grid-area: 5 / 22 / 6 / 23; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-blocks { grid-area: 5 / 23 / 6 / 24; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-goaliewins { grid-area: 5 / 24 / 6 / 25; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-savepercent { grid-area: 5 / 25 / 6 / 26; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-goalsagainst { grid-area: 5 / 26 / 6 / 27; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-goals-avg { grid-area: 6 / 16 / 7 / 17; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-assists-avg { grid-area: 6 / 17 / 7 / 18; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-points-avg { grid-area: 6 / 18 / 7 / 19; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-plusminus-avg { grid-area: 6 / 19 / 7 / 20; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-powerplaypoints-avg { grid-area: 6 / 20 / 7 / 21; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-shots-avg { grid-area: 6 / 21 / 7 / 22; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-hits-avg { grid-area: 6 / 22 / 7 / 23; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-blocks-avg { grid-area: 6 / 23 / 7 / 24; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-goaliewins-avg { grid-area: 6 / 24 / 7 / 25; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-savepercent-avg { grid-area: 6 / 25 / 7 / 26; font-family: "corki"; font-size: 1.5em; text-align: center; }
.home-goalsagainst-avg { grid-area: 6 / 26 / 7 / 27; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topcenter { grid-area: 7 / 19 / 9 / 24; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topleftwing { grid-area: 9 / 15 / 11 / 21; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-toprightwing { grid-area: 9 / 22 / 11 / 28; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topdman { grid-area: 11 / 15 / 13 / 22; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-toptwodman { grid-area: 11 / 21 / 13 / 28; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-topgoalie { grid-area: 13 / 19 / 15 / 24; font-family: "corki"; font-size: 1.5em; text-align: center; }
.away-win-percent { grid-area: 7 / 14 / 9 / 17; font-family: "corki"; font-size: 1.5em; text-align: center; }

/*
@media screen and (max-device-width: 1280px) {
    .matchup-box { width: 90%; margin: auto; }
    .away-team { font-size: 1.6em; }
    .home-team { font-size: 1.6em; }
    .away-team-score { font-size: 1.7em; }
    .home-team-score { font-size: 1.7em; }
    .away-team-logo img { width: 100px; }
    .home-team-logo img { width: 100px; }
    .away-goals { font-size: 1.1em; }
    .home-goals { font-size: 1.1em; }
    .away-assists { font-size: 1.1em; }
    .home-assists { font-size: 1.1em; }
    .away-points { font-size: 1.1em; }
    .home-points { font-size: 1.1em; }
    .away-plusminus { font-size: 1.1em; }
    .home-plusminus { font-size: 1.1em; }
    .away-powerplaypoints { font-size: 1.1em; }
    .home-powerplaypoints { font-size: 1.1em; }
    .away-shots { font-size: 1.1em; }
    .home-shots { font-size: 1.1em; }
    .away-hits { font-size: 1.1em; }
    .home-hits { font-size: 1.1em; }
    .away-blocks { font-size: 1.1em; }
    .home-blocks { font-size: 1.1em; }
    .away-goaliewins { font-size: 1.1em; }
    .home-goaliewins { font-size: 1.1em; }
    .away-savepercent { font-size: 1.1em; }
    .home-savepercent { font-size: 1.1em; }
    .away-goalsagainst { font-size: 1.1em; }
    .home-goalsagainst { font-size: 1.1em; }

    .firststar { font-size: 1.5em; }
    .secondstar { font-size: 1.3em; }
    .thirdstar { font-size: 1.1em; }

    .goals { font-size: 1em; }
    .assists { font-size: 1em; }
    .points { font-size: 1em; }
    .plusminus { font-size: 1em; }
    .powerplaypoints { font-size: 1em; }
    .shots { font-size: 1em; }
    .hits { font-size: 1em; }
    .blocks { font-size: 1em; }
    .goaliewins { font-size: 1em; }
    .savepercent { font-size: 1em; }
    .goalsagainst { font-size: 1em; }  
}
*/