*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.6em;
    --shadow: 3px 3px 2px rgba(104,104,104,0.8);
}

html, body{
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: "yanone";
}

.clr{
    clear:both;
}

#matchups {
    width: 95%;
    padding-top: 30px;
    margin: auto;
}

.matchup-slot {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 20px;
    grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(19, 25px);
    place-items: center;
    background: #eaeaea;
    border-radius: 25px;
    box-shadow: var(--shadow);
}

.away-team-name { grid-area: 1 / 4 / 4 / 17; font-size: 1.5rem; font-weight: bold; }
.away-team-logo { grid-area: 1 / 1 / 4 / 4; }
.away-team-logo img { width: 100%; }
.away-team-rating { grid-area: 4 / 1 / 6 / 4; }
.away-team-center { grid-area: 9 / 1 / 10 / 17; }
.away-team-leftwing { grid-area: 8 / 1 / 9 / 9; }
.away-team-rightwing { grid-area: 8 / 9 / 9 / 17; }
.away-team-defensea { grid-area: 6 / 1 / 7 / 9; }
.away-team-defenseb { grid-area: 6 / 9 / 7 / 17; }
.away-team-goalie { grid-area: 5 / 1 / 6 / 17; }

.home-team-name { grid-area: 16 / 4 / 20 / 17; font-size: 1.5rem; font-weight: bold; }
.home-team-logo { grid-area: 16 / 1 / 20 / 4; }
.home-team-logo img { width: 100%; }
.home-team-rating { grid-area: 14 / 1 / 16 / 4; }
.home-team-center { grid-area: 10 / 1 / 11 / 17; }
.home-team-leftwing { grid-area: 11 / 1 / 12 / 9; }
.home-team-rightwing { grid-area: 11 / 9 / 12 / 17; }
.home-team-defensea { grid-area: 13 / 1 / 14 / 9; }
.home-team-defenseb { grid-area: 13 / 9 / 14 / 17; }
.home-team-goalie { grid-area: 14 / 1 / 15 / 17; }