:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@font-face {
    font-family: "gravtrac";
    src: url("../Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "corki";
    src: url("../Fonts/Corki/TD-Corki-Rounded.otf");
}


*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/Headers/background2.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}

.matchup-box {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.matchup-slot {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: row;
  grid-template-columns: repeat(27, 1fr);
  grid-template-rows: repeat(14, 40px);
  place-items: center;
  place-content: center;
}

#top-matchup { background: url("../Images/Images/next-matchup-background.png"); background-size: 100% 100%; background-repeat: no-repeat; }
#other-matchups .matchup-slot { background: url("../Images/Images/next-matchup-background.png"); background-size: 100% 100%; background-repeat: no-repeat; }
#bottom-matchup { background: url("../Images/Images/next-matchup-background.png"); background-size: 100% 100%; background-repeat: no-repeat; }

.W { color: #0a790a; font-weight: bold; }
.L { color: #8e0606; }

.away-team { grid-area: 2 / 5 / 4 / 14; font-size: 2.5em; font-weight: bold; font-family: "corki"; text-align: center; white-space: nowrap; }
.away-team-logo { grid-area: 2 / 3 / 4 / 5; text-align: center; }
.away-team-logo img { width: 80px; }
.away-goals { grid-area: 4 / 2 / 5 / 3; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-assists { grid-area: 4 / 3 / 5 / 4; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-points { grid-area: 4 / 4 / 5 / 5; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-plusminus { grid-area: 4 / 5 / 5 / 6; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-powerplaypoints { grid-area: 4 / 6 / 5 / 7; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-shots { grid-area: 4 / 7 / 5 / 8; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-hits { grid-area: 4 / 8 / 5 / 9; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-blocks { grid-area: 4 / 9 / 5 / 10; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-goaliewins { grid-area: 4 / 10 / 5 / 11; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-goalsagainst { grid-area: 4 / 11 / 5 / 12; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-savepercent { grid-area: 4 / 12 / 5 / 13; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.away-goals-avg { grid-area: 5 / 2 / 6 / 3; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-assists-avg { grid-area: 5 / 3 / 6 / 4; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-points-avg { grid-area: 5 / 4 / 6 / 5; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-plusminus-avg { grid-area: 5 / 5 / 6 / 6; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-powerplaypoints-avg { grid-area: 5 / 6 / 6 / 7; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-shots-avg { grid-area: 5 / 7 / 6 / 8; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-hits-avg { grid-area: 5 / 8 / 6 / 9; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-blocks-avg { grid-area: 5 / 9 / 6 / 10; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-goaliewins-avg { grid-area: 5 / 10 / 6 / 11; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-goalsagainst-avg { grid-area: 5 / 11 / 6 / 12; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-savepercent-avg { grid-area: 5 / 12 / 6 / 13; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.away-topcenter { grid-area: 7 / 5 / 9 / 10; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-topleftwing { grid-area: 9 / 1 / 11 / 7; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-toprightwing { grid-area: 9 / 8 / 11 / 14; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-topdman { grid-area: 11 / 3 / 13 / 8; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-toptwodman { grid-area: 11 / 7 / 13 / 12; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-topgoalie { grid-area: 13 / 5 / 15 / 10; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.away-win-percent { grid-area: 7 / 12 / 9 / 15; font-family: "corki"; font-weight: bold; font-size: 2.2em; text-align: center; white-space: nowrap; }

.home-team { grid-area: 2 / 15 / 4 / 24; font-size: 2.5em; font-weight: bold; font-family: "corki"; text-align: center; white-space: nowrap; }
.home-team-logo { grid-area: 2 / 24 / 4 / 26; text-align: center; }
.home-team-logo img { width: 80px; }
.home-goals { grid-area: 4 / 16 / 5 / 17; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-assists { grid-area: 4 / 17 / 5 / 18; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-points { grid-area: 4 / 18 / 5 / 19; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-plusminus { grid-area: 4 / 19 / 5 / 20; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-powerplaypoints { grid-area: 4 / 20 / 5 / 21; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-shots { grid-area: 4 / 21 / 5 / 22; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-hits { grid-area: 4 / 22 / 5 / 23; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-blocks { grid-area: 4 / 23 / 5 / 24; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-goaliewins { grid-area: 4 / 24 / 5 / 25; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-goalsagainst { grid-area: 4 / 25 / 5 / 26; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-savepercent { grid-area: 4 / 26 / 5 / 27; font-family: "gravtrac"; font-size: 1.5em; text-align: center; white-space: nowrap; }
.home-goals-avg { grid-area: 5 / 16 / 6 / 17; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-assists-avg { grid-area: 5 / 17 / 6 / 18; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-points-avg { grid-area: 5 / 18 / 6 / 19; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-plusminus-avg { grid-area: 5 / 19 / 6 / 20; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-powerplaypoints-avg { grid-area: 5 / 20 / 6 / 21; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-shots-avg { grid-area: 5 / 21 / 6 / 22; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-hits-avg { grid-area: 5 / 22 / 6 / 23; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-blocks-avg { grid-area: 5 / 23 / 6 / 24; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-goaliewins-avg { grid-area: 5 / 24 / 6 / 25; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-goalsagainst-avg { grid-area: 5 / 25 / 6 / 26; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-savepercent-avg { grid-area: 5 / 26 / 6 / 27; font-family: "corki"; font-size: 1.4em; text-align: center; white-space: nowrap; font-weight: bold; }
.home-topcenter { grid-area: 7 / 19 / 9 / 24; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-topleftwing { grid-area: 9 / 15 / 11 / 21; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-toprightwing { grid-area: 9 / 22 / 11 / 28; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-topdman { grid-area: 11 / 17 / 13 / 22; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-toptwodman { grid-area: 11 / 21 / 13 / 26; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-topgoalie { grid-area: 13 / 19 / 15 / 24; font-family: "gravtrac"; font-size: 1.8em; text-align: center; white-space: nowrap; }
.home-win-percent { grid-area: 7 / 14 / 9 / 17; font-family: "corki"; font-weight: bold; font-size: 2.2em; text-align: center; white-space: nowrap; }


@media screen and (max-device-width: 1280px), (max-width: 950px) {
    .matchup-box { width: 100%; }
    .matchup-slot { grid-template-columns: repeat(14, 1fr); grid-template-rows: repeat(29, 40px); }
    #top-matchup { background: url("../Images/Images/next-matchup-background-stack.png"); background-size: 100% 100%; background-repeat: no-repeat; }
    #other-matchups .matchup-slot { background: url("../Images/Images/next-matchup-background-stack.png"); background-size: 100% 100%; background-repeat: no-repeat; }
    #bottom-matchup { background: url("../Images/Images/next-matchup-background-stack.png"); background-size: 100% 100%; background-repeat: no-repeat; }
    .away-team { grid-area: 2 / 5 / 4 / 14; font-size: 2.7em; }
    .away-team-logo { grid-area: 2 / 3 / 4 / 5; }
    .away-goals { grid-area: 4 / 2 / 5 / 3; font-size: 1.7em; }
    .away-assists { grid-area: 4 / 3 / 5 / 4; font-size: 1.7em; }
    .away-points { grid-area: 4 / 4 / 5 / 5; font-size: 1.7em; }
    .away-plusminus { grid-area: 4 / 5 / 5 / 6; font-size: 1.7em; }
    .away-powerplaypoints { grid-area: 4 / 6 / 5 / 7; font-size: 1.7em; }
    .away-shots { grid-area: 4 / 7 / 5 / 8; font-size: 1.7em; }
    .away-hits { grid-area: 4 / 8 / 5 / 9; font-size: 1.7em; }
    .away-blocks { grid-area: 4 / 9 / 5 / 10; font-size: 1.7em; }
    .away-goaliewins { grid-area: 4 / 10 / 5 / 11; font-size: 1.7em; }
    .away-savepercent { grid-area: 4 / 11 / 5 / 12; font-size: 1.7em; }
    .away-goalsagainst { grid-area: 4 / 12 / 5 / 13; font-size: 1.7em; }
    .away-goals-avg { grid-area: 5 / 2 / 6 / 3; font-size: 1.5em; }
    .away-assists-avg { grid-area: 5 / 3 / 6 / 4; font-size: 1.5em; }
    .away-points-avg { grid-area: 5 / 4 / 6 / 5; font-size: 1.5em; }
    .away-plusminus-avg { grid-area: 5 / 5 / 6 / 6; font-size: 1.5em; }
    .away-powerplaypoints-avg { grid-area: 5 / 6 / 6 / 7; font-size: 1.5em; }
    .away-shots-avg { grid-area: 5 / 7 / 6 / 8; font-size: 1.5em; }
    .away-hits-avg { grid-area: 5 / 8 / 6 / 9; font-size: 1.5em; }
    .away-blocks-avg { grid-area: 5 / 9 / 6 / 10; font-size: 1.5em; }
    .away-goaliewins-avg { grid-area: 5 / 10 / 6 / 11; font-size: 1.5em; }
    .away-savepercent-avg { grid-area: 5 / 11 / 6 / 12; font-size: 1.5em; }
    .away-goalsagainst-avg { grid-area: 5 / 12 / 6 / 13; font-size: 1.5em; }
    .away-topcenter { grid-area: 7 / 5 / 9 / 10; font-size: 2em; }
    .away-topleftwing { grid-area: 9 / 1 / 11 / 7; font-size: 2em; }
    .away-toprightwing { grid-area: 9 / 8 / 11 / 14; font-size: 2em; }
    .away-topdman { grid-area: 11 / 3 / 13 / 8; font-size: 2em; }
    .away-toptwodman { grid-area: 11 / 7 / 13 / 12; font-size: 2em; }
    .away-topgoalie { grid-area: 13 / 5 / 15 / 10; font-size: 2em; }
    .away-win-percent { grid-area: 7 / 12 / 9 / 15; font-size: 2.4em; }
    
    .home-team { grid-area: 16 / 2 / 18 / 11; font-size: 2.7em; }
    .home-team-logo { grid-area: 16 / 11 / 18 / 13; }
    .home-goals { grid-area: 18 / 3 / 19 / 4; font-size: 1.7em; }
    .home-assists { grid-area: 18 / 4 / 19 / 5; font-size: 1.7em; }
    .home-points { grid-area: 18 / 5 / 19 / 6; font-size: 1.7em; }
    .home-plusminus { grid-area: 18 / 6 / 19 / 7; font-size: 1.7em; }
    .home-powerplaypoints { grid-area: 18 / 7 / 19 / 8; font-size: 1.7em; }
    .home-shots { grid-area: 18 / 8 / 19 / 9; font-size: 1.7em; }
    .home-hits { grid-area: 18 / 9 / 19 / 10; font-size: 1.7em; }
    .home-blocks { grid-area: 18 / 10 / 19 / 11; font-size: 1.7em; }
    .home-goaliewins { grid-area: 18 / 11 / 19 / 12; font-size: 1.7em; }
    .home-savepercent { grid-area: 18 / 12 / 19 / 13; font-size: 1.7em; }
    .home-goalsagainst { grid-area: 18 / 13 / 19 / 14; font-size: 1.7em; }
    .home-goals-avg { grid-area: 19 / 3 / 20 / 4; font-size: 1.5em; }
    .home-assists-avg { grid-area: 19 / 4 / 20 / 5; font-size: 1.5em; }
    .home-points-avg { grid-area: 19 / 5 / 20 / 6; font-size: 1.5em; }
    .home-plusminus-avg { grid-area: 19 / 6 / 20 / 7; font-size: 1.5em; }
    .home-powerplaypoints-avg { grid-area: 19 / 7 / 20 / 8; font-size: 1.5em; }
    .home-shots-avg { grid-area: 19 / 8 / 20 / 9; font-size: 1.5em; }
    .home-hits-avg { grid-area: 19 / 9 / 20 / 10; font-size: 1.5em; }
    .home-blocks-avg { grid-area: 19 / 10 / 20 / 11; font-size: 1.5em; }
    .home-goaliewins-avg { grid-area: 19 / 11 / 20 / 12; font-size: 1.5em; }
    .home-savepercent-avg { grid-area: 19 / 12 / 20 / 13; font-size: 1.5em; }
    .home-goalsagainst-avg { grid-area: 19 / 13 / 20 / 14; font-size: 1.5em; }
    .home-topcenter { grid-area: 21 / 6 / 23 / 11; font-size: 2em; }
    .home-topleftwing { grid-area: 23 / 2 / 25 / 8; font-size: 2em; }
    .home-toprightwing { grid-area: 23 / 8 / 25 / 15; font-size: 2em; }
    .home-topdman { grid-area: 25 / 4 / 27 / 9; font-size: 2em; }
    .home-toptwodman { grid-area: 25 / 8 / 27 / 13; font-size: 2em; }
    .home-topgoalie { grid-area: 27 / 6 / 29 / 11; font-size: 2em; }
    .home-win-percent { grid-area: 21 / 1 / 23 / 4; font-size: 2.4em; }
}
