:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@font-face {
    font-family: "gravtrac";
    src: url("../Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "corki";
    src: url("../Fonts/Corki/TD-Corki-Rounded.otf");
}


*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/Headers/background2.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}

.matchup-box {
  width: 720px;
  margin: auto;
  background: rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.matchup-slot {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: row;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(24, 30px);
  place-items: center;
  place-content: center;
}

.away-team { grid-area: 1 / 1 / 5 / 11; font-size: 2.4em; font-weight: bold; font-family: "corki"; }
.home-team { grid-area: 1 / 11 / 5 / 21; font-size: 2.4em; font-weight: bold; font-family: "corki"; }
.away-team-score { grid-area: 4 / 8 / 7 / 11; font-size: 2em; font-weight: bold; font-family: "corki"; }
.home-team-score { grid-area: 4 / 11 / 7 / 14; font-size: 2em; font-weight: bold; font-family: "corki"; }
.away-team-logo { grid-area: 5 / 2 / 11 / 6; }
.away-team-logo img { width: 162px; }
.home-team-logo { grid-area: 5 / 16 / 11 / 20; }
.home-team-logo img { width: 162px; }
.away-goals { grid-area: 7 / 5 / 8 / 10; font-family: "corki"; font-size: 1.5em; }
.home-goals { grid-area: 7 / 12 / 8 / 17; font-family: "corki"; font-size: 1.5em; }
.away-assists { grid-area: 8 / 5 / 9 / 10; font-family: "corki"; font-size: 1.5em; }
.home-assists { grid-area: 8 / 12 / 9 / 17; font-family: "corki"; font-size: 1.5em; }
.away-points { grid-area: 9 / 5 / 10 / 10; font-family: "corki"; font-size: 1.5em; }
.home-points { grid-area: 9 / 12 / 10 / 17; font-family: "corki"; font-size: 1.5em; }
.away-plusminus { grid-area: 10 / 5 / 11 / 10; font-family: "corki"; font-size: 1.5em; }
.home-plusminus { grid-area: 10 / 12 / 11 / 17; font-family: "corki"; font-size: 1.5em; }
.away-powerplaypoints { grid-area: 11 / 5 / 12 / 10; font-family: "corki"; font-size: 1.5em; }
.home-powerplaypoints { grid-area: 11 / 12 / 12 / 17; font-family: "corki"; font-size: 1.5em; }
.away-shots { grid-area: 12 / 5 / 13 / 10; font-family: "corki"; font-size: 1.5em; }
.home-shots { grid-area: 12 / 12 / 13 / 17; font-family: "corki"; font-size: 1.5em; }
.away-hits { grid-area: 13 / 5 / 14 / 10; font-family: "corki"; font-size: 1.5em; }
.home-hits { grid-area: 13 / 12 / 14 / 17; font-family: "corki"; font-size: 1.5em; }
.away-blocks { grid-area: 14 / 5 / 15 / 10; font-family: "corki"; font-size: 1.5em; }
.home-blocks { grid-area: 14 / 12 / 15 / 17; font-family: "corki"; font-size: 1.5em; }
.away-goaliewins { grid-area: 15 / 5 / 16 / 10; font-family: "corki"; font-size: 1.5em; }
.home-goaliewins { grid-area: 15 / 12 / 16 / 17; font-family: "corki"; font-size: 1.5em; }
.away-savepercent { grid-area: 16 / 5 / 17 / 10; font-family: "corki"; font-size: 1.5em; }
.home-savepercent { grid-area: 16 / 12 / 17 / 17; font-family: "corki"; font-size: 1.5em; }
.away-goalsagainst { grid-area: 17 / 5 / 18 / 10; font-family: "corki"; font-size: 1.5em; }
.home-goalsagainst { grid-area: 17 / 12 / 18 / 17; font-family: "corki"; font-size: 1.5em; }

.firststar { grid-area: 19 / 9 / 22 / 13; font-family: "corki"; font-size: 2.2em; text-align: center; }
.secondstar { grid-area: 20 / 4 / 23 / 8; font-family: "corki"; font-size: 1.9em; text-align: center; }
.thirdstar { grid-area: 20 / 14 / 23 / 18; font-family: "corki"; font-size: 1.6em; text-align: center; }

.W { color: #0a790a; }
.L { color: #8e0606; }

.goals { grid-area: 7 / 8 / 8 / 14; font-family: "corki"; font-size: 1.6em; }
.assists { grid-area: 8 / 8 / 9 / 14; font-family: "corki"; font-size: 1.6em; }
.points { grid-area: 9 / 8 / 10 / 14; font-family: "corki"; font-size: 1.6em; }
.plusminus { grid-area: 10 / 8 / 11 / 14; font-family: "corki"; font-size: 1.6em; }
.powerplaypoints { grid-area: 11 / 8 / 12 / 14; font-family: "corki"; font-size: 1.6em; }
.shots { grid-area: 12 / 8 / 13 / 14; font-family: "corki"; font-size: 1.6em; }
.hits { grid-area: 13 / 8 / 14 / 14; font-family: "corki"; font-size: 1.6em; }
.blocks { grid-area: 14 / 8 / 15 / 14; font-family: "corki"; font-size: 1.6em; }
.goaliewins { grid-area: 15 / 8 / 16 / 14; font-family: "corki"; font-size: 1.6em; }
.savepercent { grid-area: 16 / 8 / 17 / 14; font-family: "corki"; font-size: 1.6em; }
.goalsagainst { grid-area: 17 / 8 / 18 / 14; font-family: "corki"; font-size: 1.6em; }
