:root{
    --hotelcolour: #77261c;
    --sunviewcolour: #1a4c83;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@font-face {
    font-family: "gravtrac";
    src: url("../Fonts/gravtrac/gravtrac compressed bd.ttf");
}

@font-face {
    font-family: "corki";
    src: url("../Fonts/Corki/TD-Corki-Rounded.otf");
}


*{
    color: #555555;
    font: normal 16px Arial, Helvetica, sans-serif; 
    line-height: 1.4em;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/Headers/background2.png");
    background-blend-mode: multiply;
    background-size: cover;
}
.clr{
    clear:both;
}
    
.header-img {
  width: 50%;
  margin: auto;
}

.matchup-box {
  width: 85%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  background: rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.header-img {
  width: 50%;
  margin: auto;
}

.matchup-slot {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: grid;
  grid-gap: 0px;
  grid-auto-flow: row;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 40px);
  place-items: center;
  place-content: center;
}

.away-team { grid-area: 1 / 1 / 4 / 10; font-size: 2.4em; font-weight: bold; font-family: "corki"; }
.home-team { grid-area: 1 / 11 / 4 / 21; font-size: 2.4em; font-weight: bold; font-family: "corki"; }
.away-team-score { grid-area: 3 / 8 / 5 / 11; font-size: 1.8em; font-weight: bold; font-family: "corki"; }
.home-team-score { grid-area: 3 / 10 / 5 / 13; font-size: 1.8em; font-weight: bold; font-family: "corki"; }
.away-goals { grid-area: 5 / 4 / 6 / 10; }
.home-goals { grid-area: 5 / 11 / 6 / 17; }
.away-assists { grid-area: 6 / 4 / 7 / 10; }
.home-assists { grid-area: 6 / 11 / 7 / 17; }
.away-points { grid-area: 7 / 4 / 8 / 10; }
.home-points { grid-area: 7 / 11 / 8 / 17; }
.away-plusminus { grid-area: 8 / 4 / 9 / 10; }
.home-plusminus { grid-area: 8 / 11 / 9 / 17; }
.away-powerplaypoints { grid-area: 9 / 4 / 10 / 10; }
.home-powerplaypoints { grid-area: 9 / 11 / 10 / 17; }
.away-shots { grid-area: 10 / 4 / 11 / 10; }
.home-shots { grid-area: 10 / 11 / 11 / 17; }
.away-hits { grid-area: 11 / 4 / 12 / 10; }
.home-hits { grid-area: 11 / 11 / 12 / 17; }
.away-blocks { grid-area: 12 / 4 / 13 / 10; }
.home-blocks { grid-area: 12 / 11 / 13 / 17; }
.away-goaliewins { grid-area: 13 / 4 / 14 / 10; }
.home-goaliewins { grid-area: 13 / 11 / 14 / 17; }
.away-savepercent { grid-area: 14 / 4 / 15 / 10; }
.home-savepercent { grid-area: 14 / 11 / 15 / 17; }
.away-goalsagainst { grid-area: 15 / 4 / 16 / 10; }
.home-goalsagainst { grid-area: 15 / 11 / 16 / 17; }

.firststar { grid-area: 20 / 3 / 22 / 7; }
.secondstar { grid-area: 20 / 7 / 22 / 15; }
.thirdstar { grid-area: 20 / 15 / 22 / 19; }
